@import "tailwindcss";

:root {
    --light-background: #faf9f5;
    --charcoal-gray: #37352f;
}

@theme inline {
    --light-background: var(--light-background);
    --charcoal-gray: var(--charcoal-gray);
}

body {
    background-color: var(--light-background);
    color: var(--charcoal-gray);
}

a {
    @apply text-mist-600 hover:underline;
}
